
<!DOCTYPE html>
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    {% block title %}{% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <title>Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="{% static 'css/api.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


</head>

<body>
{% block body %}
<section>
   <div class="container"  style="background-color: #b78daf; height: auto; ">
       <div class="row">
          <div class="col-md-12">


          {% block content %}

          {% endblock %}

          </div>

       </div>
   </div>
</section>
{% endblock %}
</body>

</html>


